<div class="profile-card">
    <div class="avatar-name">
        <img src="/Assets/Imgs/placeholder3.png" alt="avatar" class="profile-card__avatar">

        <div class="profile-card__name">
            <strong class="h6"> Sigma Klim</strong>
            <span class="subtitle">SIGMA</span>
        </div>
    </div>

    <div class="profile-card__decription">
    He is delivery man
    </div>

    <div class="profile-card__tags">
        <div class="skil-tag">fast</div>
        <div class="skil-tag">strong</div>
        <div class="skil-tag">reliable</div>
    </div>

    <div class="profile-card__action-btns">
        <button class="btn">Подписаться</button>
    </div>
</div>